<OverlayUI OnClick="@OnClick"></OverlayUI>
<PopupUI>
    <div class="form">
        <p class="form__header">@Header</p>
        <p class="form__title">@Title</p>
        @ChildContent
        <FormError IsShown="@(!string.IsNullOrEmpty(ErrorMessage))">@ErrorMessage</FormError>
        @if (IsLoading)
        {
            <Loading />
        }
    </div>    
</PopupUI>

@code{

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    public string Header { get; set; } = default!;

    [Parameter]
    public string Title { get; set; } = default!;

    [Parameter]
    public bool IsLoading { get; set; } = false;

    [Parameter]
    public string ErrorMessage { get; set; } = default!;

    [Parameter]
    public EventCallback OnClick { get; set; }
}